body {
  background: pink;
}

h1 {
  color: blue;
  font-size: medium;
}

h2 {
  color: green;
  font-weight: normal

}

.completed {
  font-family: 12px;
}

#tasks .completed {
  text-decoration: underline;
}